Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/SoulCity/Maps/LV_Soul_Slum_BuiltData.uasset
Content/SoulCity/Maps/LV_Soul_Slum_Mobile_BuiltData.uasset
